Repository floriaaan/meet-at-cesi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --config ./.prettierrc, prettier --config ./.prettierrc --write

fix(build): pnpm-lock wasnt updated
  pnpm-lock.yaml
Due: none

feat(skelelton): add skeleton for event when searching
  components/Event/List/Fallback.tsx
  components/Event/List/index.tsx
Due: eslint, prettier --config ./.prettierrc

fix(event/filter): can bypass filters because of asynchronous fetch
  components/Event/Filter/Provider.tsx
Due: eslint, prettier --config ./.prettierrc

fix(notifications): could appear on signOut
  components/Dropdown/NotificationDropdown.tsx
Due: eslint, prettier --config ./.prettierrc

fix(buttons): fix report/participate buttons showing when not authenticated
  components/Event/Comment/index.tsx
  components/Event/Hero/Section.tsx
Due: eslint, prettier --config ./.prettierrc

fix(invitations/participations): show only concerned invitations (sender or receiver) and participations when logged in
  components/Event/Participant/Section.tsx
  pages/api/event/participate.ts
  pages/event/[id]/index.tsx
Due: eslint, prettier --config ./.prettierrc

fix(codeSmell): remove a todo
  pages/api/event/participate.ts
Due: eslint, prettier --config ./.prettierrc

fix(invitation): invite people dont refresh participants section
  components/Event/Filter/Provider.tsx
  components/Invitation/InvitationModal.tsx
  components/Invitation/Provider.tsx
  components/User/ListItem.tsx
  hooks/useNotifications.tsx
  lib/fetchers/invitation.ts
  pages/api/user/invitation.ts
  pages/event/[id]/index.tsx
Due: eslint, prettier --config ./.prettierrc

feat(deps): add next-theme and config
  components/Dropdown/AuthDropdown.tsx
  package.json
  pages/_app.tsx
  pnpm-lock.yaml
  tailwind.config.js
Due: eslint, prettier --config ./.prettierrc, prettier --config ./.prettierrc --write

feat(dark): add css dark:[] variants
  public/logo.svg
  styles/globals.css
  styles/mobile-menu.module.css
  tailwind.config.js
Due: eslint, prettier --config ./.prettierrc, prettier --config ./.prettierrc --write

feat(darkmode): add support for customTable
  components/Admin/CustomTable/Event/Item.tsx
  components/Admin/CustomTable/Event/Modal.tsx
  components/Admin/CustomTable/Feedback/Item.tsx
  components/Admin/CustomTable/Feedback/Modal.tsx
  components/Admin/CustomTable/Report/Item.tsx
  components/Admin/CustomTable/Report/Modal.tsx
  components/Admin/CustomTable/User/Item.tsx
  components/Admin/CustomTable/User/Modal.tsx
  components/Admin/CustomTable/index.tsx
Due: eslint, prettier --config ./.prettierrc

feat(darkmode): add dark for event components
  components/Event/Comment/FeedItem.tsx
  components/Event/Comment/Section.tsx
  components/Event/Comment/index.tsx
  components/Event/DeleteModal.tsx
  components/Event/Filter/Chip.tsx
  components/Event/Filter/Sidebar.tsx
  components/Event/Hero/Details.tsx
  components/Event/Hero/Section.tsx
  components/Event/List/Date.tsx
  components/Event/List/DetailsListItem.tsx
  components/Event/List/Fallback.tsx
  components/Event/List/ListItem.tsx
  components/Event/Map/Section.tsx
  components/Event/Participant/Card.tsx
  components/Event/Participant/Section.tsx
Due: eslint, prettier --config ./.prettierrc

feat(darkmode): add dark for profile components
  components/Layout/Profile/Sidebar.tsx
  components/Profile/Card.tsx
  components/Profile/EmailVerification/Section.tsx
  components/Profile/ImageUpload/Form.tsx
  components/Profile/Notifications/Section.tsx
  components/Profile/Preferences/Card.tsx
  components/Profile/Preferences/Section.tsx
  components/Profile/Privacy/Section.tsx
  components/Profile/Trophies/Section.tsx
  components/Profile/Trophies/TrophyListItem.tsx
  pages/event/index.tsx
  pages/profile/index.tsx
  pages/profile/trophies.tsx
  styles/globals.css
Due: eslint, prettier --config ./.prettierrc, prettier --config ./.prettierrc --write

feat(darkmode): add dark for ui components
  components/Dropdown/AuthDropdown.tsx
  components/Dropdown/NotificationDropdown.tsx
  components/Helpers/AddToCalendar.tsx
  components/Helpers/Feedback/Button.tsx
  components/Helpers/Popup/PWA.tsx
  components/Helpers/Popup/Preferences.tsx
  components/Invitation/Card.tsx
  components/Invitation/InvitationModal.tsx
  components/UI/Avatar/List.tsx
  components/UI/Avatar/index.tsx
  components/UI/Chip/index.tsx
  components/UI/Form/Input.tsx
  components/UI/Form/PlaceSearch.tsx
  components/UI/Form/SearchBar.tsx
  components/UI/Form/Select.tsx
  components/UI/Header.tsx
  components/UI/Modal.tsx
Due: eslint, prettier --config ./.prettierrc

feat(darkmode): add dark for layouts and pages
  components/Layout/Admin/Subnav.tsx
  components/Layout/Navbar/MobileMenu.tsx
  components/Layout/Navbar/index.tsx
  components/Logo/CESI.tsx
  pages/_app.tsx
  pages/admin/index.tsx
  pages/index.tsx
  pages/profile/settings/index.tsx
Due: eslint, prettier --config ./.prettierrc

feat(darkmode): add dark for notification, admin stat card, userListItem
  components/Admin/Card/Stat.tsx
  components/Notification/Icon.tsx
  components/Notification/index.tsx
  components/User/ListItem.tsx
Due: eslint, prettier --config ./.prettierrc

fix(build): revert (rm peerDeps: vite)
  package.json
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc --write

fix(darkmode): issues with modal
  components/Invitation/InvitationModal.tsx
  components/Profile/ImageUpload/Form.tsx
  components/User/ListItem.tsx
Due: eslint, prettier --config ./.prettierrc

fix(darkmode): fix issues where white bg appear
  components/Event/List/Date.tsx
  components/Helpers/Feedback/Button.tsx
  components/Helpers/Popup/PWA.tsx
  components/Invitation/InvitationModal.tsx
  components/UI/Chip/index.tsx
  pages/_document.tsx
  public/app/manifest.webmanifest
  styles/globals.css
Due: eslint, prettier --config ./.prettierrc, prettier --config ./.prettierrc --write

fix(report): change status of report after being treated doesnt change the state of concerned object
  components/Admin/CustomTable/Report/Item.tsx
  components/Event/Comment/Section.tsx
  components/Notification/index.tsx
  pages/api/event/comment.ts
  pages/api/report/index.ts
  pages/event/[id]/index.tsx
Due: eslint, prettier --config ./.prettierrc

ref(homepage): change homepage design
  components/Dropdown/AuthDropdown.tsx
  components/Event/List/Date.tsx
  components/Event/List/ListItem.tsx
  components/Icons/Neobrutalism.tsx
  components/Layout/Navbar/MobileMenu.tsx
  components/Layout/Navbar/index.tsx
  components/Logo/CESI.tsx
  components/Notification/index.tsx
  components/UI/Link/Category.tsx
  cspell.json
  pages/index.tsx
  resources/campus-list.ts
  styles/globals.css
  tailwind.config.js
  tests/mocks/events.ts
Due: eslint, prettier --config ./.prettierrc, prettier --config ./.prettierrc --write

fix(tests): change tests to match new layout
  pages/index.tsx
  tests/pages/Home.test.tsx
Due: eslint, prettier --config ./.prettierrc

feat(page): add legal page (cgu)
  package.json
  pages/index.tsx
  pages/legal.tsx
  pnpm-lock.yaml
  tailwind.config.js
Due: eslint, prettier --config ./.prettierrc, prettier --config ./.prettierrc --write

feat(form): add cgu mention in event create/edit form
  components/Event/Comment/Section.tsx
  components/Event/Form.tsx
  components/Notification/index.tsx
  lib/fetchers/event.ts
  pages/api/event/edit.ts
  pages/legal.tsx
Due: eslint, prettier --config ./.prettierrc

feat(cgu): add paragraphs
  pages/legal.tsx
Due: eslint, prettier --config ./.prettierrc

fix(darkmode): change behavior on apple devices
  components/Event/List/DetailsList.tsx
  pages/_document.tsx
Due: eslint, prettier --config ./.prettierrc

fix(navbar): add sticky behavior to navbar
  components/Layout/Navbar/index.tsx
  components/Layout/index.tsx
Due: eslint, prettier --config ./.prettierrc

feat(legal): add seo title
  pages/legal.tsx
Due: eslint, prettier --config ./.prettierrc

fix(notifications): panel would overflow on small devices
  components/Dropdown/NotificationDropdown.tsx
  components/Helpers/PopperMenu.tsx
  components/Notification/index.tsx
Due: eslint, prettier --config ./.prettierrc

fix(home): fix featured event
  pages/index.tsx
Due: eslint, prettier --config ./.prettierrc

fix(homepage): set a defined height for 2-blocks section
  pages/index.tsx
Due: eslint, prettier --config ./.prettierrc

feat(calendar): add api endpoint to serve ics file
  lib/calendar.ts
  pages/api/event/calendar.ts
Due: eslint, prettier --config ./.prettierrc

fix(build): change import name
  components/Helpers/AddToCalendar.tsx
Due: eslint, prettier --config ./.prettierrc

lint: remove all warns
  components/Event/List/Date.tsx
  components/Event/List/ListItem.tsx
  components/Layout/Navbar/MobileMenu.tsx
  pages/api/report/index.ts
Due: eslint, prettier --config ./.prettierrc

fix(notificationTrigger): can receive notification sended by himself
  lib/notification/trigger.ts
Due: eslint, prettier --config ./.prettierrc

fix(mobile): find event by campus section was overflowing on yellow section
  pages/index.tsx
Due: eslint, prettier --config ./.prettierrc

ref(colors): add blue cesi to twcss config and to "previously" green-section
  components/Layout/Navbar/index.tsx
  pages/index.tsx
  tailwind.config.js
Due: eslint, prettier --config ./.prettierrc

feat(calendar): users can now add events into their calendar
  components/Event/Calendar/Add.tsx
  components/Event/Hero/Section.tsx
  components/Event/Map/Section.tsx
  components/UI/Avatar/index.tsx
  lib/fetchers/event.ts
  pages/event/[id]/index.tsx
  pages/legal.tsx
Due: eslint, prettier --config ./.prettierrc

fix(homepage): crash if no events
  components/Event/Calendar/Add.tsx
  pages/index.tsx
Due: eslint, prettier --config ./.prettierrc

fix(email-verification): serverside related bug
  lib/nextauth.ts
  lib/tokens/crypto-random-string.ts
  lib/tokens/email-verification.ts
Due: eslint, prettier --config ./.prettierrc

Path conditions:
  eslint: any of: **/*.{js,jsx,ts,tsx}
  prettier --config ./.prettierrc: any of: **/*.{js,jsx,ts,tsx}
  prettier --config ./.prettierrc --write: any of: **/*.{css,scss,md,html,json}
