Repository floriaaan/meet-at-cesi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --config ./.prettierrc, prettier --config ./.prettierrc --write

ref(home): revert to old design
  pages/index.tsx
Due: eslint, prettier --config ./.prettierrc

fix(client): feedback crash because of localCompare on undefined
  components/UI/Form/Select.tsx
Due: eslint, prettier --config ./.prettierrc

fix(comment): add a ? on author.id to prevent error
  components/Event/Comment/index.tsx
Due: eslint, prettier --config ./.prettierrc

fix(ui): add a breakline on event-list
  pages/event/index.tsx
Due: eslint, prettier --config ./.prettierrc

ref(home): add dark mode support
  pages/index.tsx
Due: eslint, prettier --config ./.prettierrc

upgrade-deps: update dependencies (except next-auth)
  components/Profile/ImageUpload/Section.tsx
  package.json
  pages/api/user/image-upload.ts
  pnpm-lock.yaml
  tailwind.config.js
Due: eslint, prettier --config ./.prettierrc, prettier --config ./.prettierrc --write

ref(event-list): add create button
  pages/event/index.tsx
Due: eslint, prettier --config ./.prettierrc

ref(feedback): add feedback button for unauthenticated user
  components/Helpers/Feedback/Modal.tsx
  pages/_app.tsx
Due: eslint, prettier --config ./.prettierrc

chore(deps): bump deps
  .env.example
  .gitignore
  .husky/pre-commit
  lib/storage.ts
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --config ./.prettierrc, prettier --config ./.prettierrc --write

fix: remove superjson, reverting getSSP to JSON.parse dates
  pages/admin/event.tsx
  pages/admin/feedback.tsx
  pages/admin/index.tsx
  pages/admin/report.tsx
  pages/admin/user.tsx
  pages/event/[id]/edit.tsx
  pages/event/[id]/index.tsx
  pages/event/index.tsx
  pages/profile/[id].tsx
  pages/profile/index.tsx
  pages/profile/settings/index.tsx
  pages/profile/trophies.tsx
Due: eslint, prettier --config ./.prettierrc

fix(build): add type enforcement to nextauth utils
  .prettierrc
  lib/nextauth.ts
Due: eslint, prettier --config ./.prettierrc

fix(ci): upgrade pnpm version to latest
  .github/workflows/security.yml
  .github/workflows/tests.yml
Due: none

fix(tests): revert the home layout change in tests
  pages/index.tsx
  tests/as.ts
  tests/pages/Home.test.tsx
Due: eslint, prettier --config ./.prettierrc

feat(cron): add cron task
  .env.example
  pages/api/cron.ts
  vercel.json
Due: eslint, prettier --config ./.prettierrc, prettier --config ./.prettierrc --write

fix(next-auth): fix breaking changes about getSession
  lib/api/index.ts
  lib/prisma.ts
  pages/api/admin/event/restore.ts
  pages/api/admin/user/role.ts
  pages/api/auth/[...nextauth].ts
  pages/api/event/comment.ts
  pages/api/event/delete.ts
  pages/api/event/edit.ts
  pages/api/event/index.ts
  pages/api/event/participate.ts
  pages/api/feedback/index.ts
  pages/api/report/index.ts
  pages/api/user/email-verification.ts
  pages/api/user/image-upload.ts
  pages/api/user/invitation.ts
  pages/api/user/notification.ts
  pages/api/user/preferences.ts
  pages/api/user/privacy.ts
Due: eslint, prettier --config ./.prettierrc

feat(animate): add animation between pages
  components/Layout/index.tsx
  package.json
  pages/_app.tsx
  pnpm-lock.yaml
Due: eslint, prettier --config ./.prettierrc, prettier --config ./.prettierrc --write

fix(responsive): fix event/list pages responsives issues
  components/Event/Filter/Chip.tsx
  components/Event/List/index.tsx
  pages/event/index.tsx
Due: eslint, prettier --config ./.prettierrc

Path conditions:
  eslint: any of: **/*.{js,jsx,ts,tsx}
  prettier --config ./.prettierrc: any of: **/*.{js,jsx,ts,tsx}
  prettier --config ./.prettierrc --write: any of: **/*.{css,scss,md,html,json}
